@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }
.active{
  background: green;
  color: white;
}
@keyframes bounceImage {
  0%, 100% {
    transform: translateY(-10px);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-image {
  animation: bounceImage 2s infinite;
}

